desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$amarelo       = #E0C775
$amareloEscuro = #D1A32E
$cinza         = #333333

@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,700i|Arvo:400,400i,700,700i';

alegreya($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Alegreya Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

arvo($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Arvo', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
