.contato
    background $amarelo
    padding 45px 0
    +mobile()
        padding 25px 0
    .center
        clearfix()
    .informacoes
        width 48%
        float left
        h2
            margin 0 0 30px
            arvo 33
            line-height 1.2
        .telefone
        .whatsapp
            arvo 36 bold
            color $cinza
            line-height 1
            display block
            min-height 38px
            padding-left 50px
            margin 0 0 5px
            span
                arvo 18 bold
        .telefone
            background $img('ico-telefone.png') no-repeat center left
        .whatsapp
            background $img('ico-whatsapp.png') no-repeat center left
        +tablet()
            h2
                font-size 28px
            .telefone
            .whatsapp
                font-size 28px
                line-height 38px
                span
                    font-size 16px
        +mobile()
            width 100%
            h2
                font-size 22px
                margin-bottom 20px
            .telefone
            .whatsapp
                arvo 24 bold
                min-height 27px
                padding-left 34px
                span
                    arvo 12 bold
            .telefone
                background-size auto 23px
            .whatsapp
                background-size auto 25px
    form
        width 48%
        float right
        +mobile()
            width 100%
            margin-top 25px
        textarea
            resize none
            height 160px
        input
        textarea
            width 100%
            display block
            background transparent
            border 1px solid rgba(#fff, .7)
            margin-bottom 4px
            padding 10px
            alegreya 16
            color #000
            outline 0
            &[type='submit']
                width auto
                background $amareloEscuro
                alegreya 20 bold
                line-height 1
                padding 10px 25px
                transition background .3s, color .3s
                &:hover
                    background darken($amareloEscuro, 10)
                    color $amarelo
            +placeholder()
                color #000
        #form-contato-response
            width 100%
            border 1px solid $amareloEscuro
            color #000
            alegreya 15 bold
            text-transform uppercase
            padding 12px
            text-align center
            line-height 1
            margin-bottom 4px
            display none
