.galeria
    padding-top 15px
    .center
        clearfix()
    .galeria-masonry
        .galeria-thumb
            position relative
            display block
            margin-top 1.5%
            +mobile()
                margin-top 2%
            img
                display block
                width 100%
                height auto
            .overlay
                position absolute
                opacity 0
                transition opacity .3s ease
                width 100%
                height 100%
                top 0
                left 0
                background rgba($amarelo, .8)
                +below($tablet)
                    display none
            &:hover .overlay
                opacity 1
        .galeria-thumb
        .grid-sizer
            width 32.333%
            +below($tablet)
                width 49.25%
            +mobile()
                width 100%
        .gutter-sizer
            width 1.5%
            +mobile()
                width 0

.fancybox-title
    alegreya 15
