.home
    .banners
        width 100%
        background $img('bg-banner.png') no-repeat center top $amarelo
        background-size auto 100%
        +mobile()
            background-image none
        .cycle-pager
            position absolute
            width desktop-base-width
            bottom 30px
            left 50%
            transform translateX(-50%)
            z-index 101
            +tablet()
                width 90%
            +mobile()
                display none
            a
                font-size 0
                display inline-block
                margin-right 3px
                border 2px solid $cinza
                border-radius 100%
                width 12px
                height 12px
                &.cycle-pager-active
                    background #fff
        .banner
            padding 35px 0 40px
            width 100%
            +mobile()
                padding 25px 0
            .center
                clearfix()
            .texto
                width 420px
                float left
                padding-top 25px
                padding-bottom 40px
                +tablet()
                    width 50%
                    padding-top 0
                +mobile()
                    width 100%
                    padding-top 0
                    padding-bottom 0
                h3
                    alegreya 24 bold
                    color #fff
                    margin 0 0 10px
                    text-shadow 0 1px 4px rgba(#000, .5)
                    +tablet()
                        font-size 22px
                    +mobile()
                        font-size 20px
                h2
                    arvo 33
                    color #000
                    margin 0 0 15px
                    +tablet()
                        font-size 28px
                    +mobile()
                        font-size 24px
                        margin-bottom 10px
                p
                    margin 0
                a
                    display inline-block
                    border 1px solid #000
                    arvo 18 bold
                    text-transform uppercase
                    padding 18px 25px
                    margin-top 25px
                    transition background .3s, color .3s
                    &:hover
                        background #000
                        color $amarelo
                    +tablet()
                        font-size 16px
                        padding 15px 22px
                    +mobile()
                        font-size 15px
                        padding 12px 20px
            .imagem
                width 500px
                float right
                +tablet()
                    width 40%
                +mobile()
                    width 100%
                    margin-bottom 25px
                img
                    display block
                    width 100%
                    box-shadow -6px 6px 0 $cinza
    .chamadas
        margin-top 30px
        +tablet()
            max-width 550px
            margin 30px auto 0
        .center
            clearfix()
            +tablet()
                width 100%
        .chamada
            width 22.5%
            margin-right 3.333%
            margin-bottom 40px
            float left
            background $amareloEscuro
            border-radius 100%
            height 0
            padding-bottom 22.5%
            text-align center
            position relative
            p
                display block
                margin 0
                arvo 15 bold
                color #fff
                line-height 1.3
                text-align center
                padding 0 30px
                position absolute
                top 50%
                transform translateY(-50%)
            &:after
                content ''
                position absolute
                width 80px
                height 80px
                background-color #FFEDB5
                background-repeat no-repeat
                background-position center
                bottom -40px
                left 50%
                transform translateX(-50%)
                border-radius 100%
            &.chamada-1:after
                background-image $img('ico1.png')
            &.chamada-2:after
                background-image $img('ico2.png')
                background-position center 40%
            &.chamada-3:after
                background-image $img('ico3.png')
                background-position center 45%
            &.chamada-4:after
                background-image $img('ico4.png')
            &:last-child
                margin-right 0
            +tablet()
                width 47.5%
                padding-bottom 47.5%
                margin-right 5%
                margin-bottom 60px
                &:nth-child(2n)
                    margin-right 0 !important
            +mobile()
                width 100%
                height auto
                padding 10px
                padding-left 65px
                border-radius 0
                margin-bottom 10px
                min-height 60px
                &:after
                    width 40px
                    height 40px
                    top 10px
                    left 10px
                    transform none
                    background-size auto 60%
                p
                    position relative
                    transform none
                    text-align left
                    padding 0
    .chamada-orcamento
        background $amareloEscuro
