.marcenaria
    .marcenaria-chamada
        background $img('bg-banner.png') no-repeat center top $amarelo
        background-size auto 100%
        padding 50px 0
        margin-bottom 50px
        +tablet()
            padding 35px 0
            margin-bottom 35px
        +mobile()
            padding 20px 0
            margin-bottom 20px
            background-image none
        .center
            clearfix()
        .chamada
            width 48%
            float left
            +mobile()
                width 100%
                margin-bottom 15px
            h1
                alegreya 36 bold
                color #fff
                margin 0 0 20px
                text-shadow 0 1px 4px rgba(#000, .5)
                +tablet()
                    font-size 32px
                    margin-bottom 15px
                +mobile()
                    font-size 30px
                    margin-bottom 10px
            .texto
                margin-bottom 30px
                +tablet()
                    margin-bottom 20px
                +mobile()
                    margin-bottom 10px
                p
                ul
                    margin 0 0 6px
                ul
                    list-style none
                    padding 0
                    li
                        padding 0
                        padding-left .7em
                        position relative
                        margin-bottom 6px
                        &:before
                            content '\b7'
                            position absolute
                            left 0
            a
                display inline-block
                border 1px solid #000
                arvo 18 bold
                text-transform uppercase
                padding 18px 25px
                transition background .3s, color .3s
                &:hover
                    background #000
                    color $amarelo
                +tablet()
                    font-size 16px
                    padding 15px 22px
                +mobile()
                    font-size 15px
                    padding 12px 20px
        .links
            width 40%
            float right
            arvo 18
            line-height 1.5
            +tablet()
                font-size 17px
            +mobile()
                width 100%
                font-size 16px
            a:hover
                text-decoration underline
    .marcenaria-trabalhos
        text-align center
        h3
            text-align center
            alegreya 24
            text-transform uppercase
            margin 0 0 30px
        .marcenaria-imagens
            clearfix()
            max-width 940px
            margin 0 auto
            a
                display block
                float left
                width 31.8333%
                margin-right 2.25%
                margin-bottom 2.25%
                position relative
                border 1px solid $amarelo
                &:nth-child(3n)
                    margin-right 0
                img
                    display block
                    width 100%
                .overlay
                    position absolute
                    opacity 0
                    transition opacity .3s ease
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba($amarelo, .8)
                    +below($tablet)
                        display none
                &:hover .overlay
                    opacity 1
        .marcenaria-galeria
            display inline-block
            arvo 18 bold
            border 1px solid #000
            text-transform uppercase
            padding 20px 25px
            transition background .3s, color .3s
            margin 5px 0 25px
            &:hover
                background #000
                color $amarelo
        +tablet()
            h3
                font-size 22px
                margin-bottom 20px
            .marcenaria-galeria
                font-size 16px
                padding 15px 22px
                margin-bottom 15px
        +mobile()
            h3
                font-size 20px
                margin-bottom 15px
            .marcenaria-imagens a
                width 48.875%
                &:nth-child(3n)
                    margin-right 2.25%
                &:nth-child(2n)
                    margin-right 0
            .marcenaria-galeria
                font-size 15px
                padding 10px 20px
                margin-bottom 10px
