.chamada-orcamento
    background $amarelo
    padding 45px 0
    margin-top 40px
    +tablet()
        padding 30px 0
        margin-top 30px
    +mobile()
        padding 20px 0 25px
        margin-top 25px
    .wrapper
        display table
        > div
            display table-cell
            vertical-align middle
            &.left
                width 65%
                p
                    margin 0
                    arvo 22 bold italic
                    color #fff
                +tablet()
                    width 55%
                    p
                        font-size 20px
            &.right
                width 35%
                text-align right
                a
                    display inline-block
                    border 1px solid #000
                    arvo 18 bold
                    text-transform uppercase
                    padding 18px 25px
                    transition background .3s, color .3s
                    &:hover
                        background #000
                        color $amarelo
                +tablet()
                    width 40%
                    a
                        font-size 16px
                        padding 15px 22px
        +mobile()
            display block
            > div
                display block
                width 100% !important
                text-align center !important
                &.left
                    p
                        font-size 18px
                &.right
                    margin-top 20px
                    a
                        font-size 15px
                        padding 12px 20px
