footer
    background $cinza
    .center
        text-align center
        font-size 0
    .wrapper
        display inline-block
    .informacoes
        display table
        text-align left
        .col
            border-left 1px solid $amarelo
            display table-cell
            vertical-align top
            padding 10px 60px 10px 20px
            &:last-child
                padding-right 0
            p, a
                alegreya 15
                display block
                margin 0
                line-height 1.3
                color $amarelo
            &:nth-child(2)
                br
                    display block
                    margin 0
                    height 0
                    line-height 1
                    content ''
            a:hover
                color #fff
            .telefone
            .whatsapp
                arvo 24 bold
                color #fff
                display inline-block
                min-height 27px
                padding-left 34px
                span
                    arvo 12 bold
            .telefone
                background $img('ico-telefone.png') no-repeat center left
                background-size auto 23px
            .whatsapp
                background $img('ico-whatsapp.png') no-repeat center left
                background-size auto 25px
        +below($tablet)
            display block
            padding 5px 0 15px
            .col
                border 0
                text-align center
                display block
                padding 10px 0 0
    .copyright
        background $amarelo
        text-align center
        padding 10px
        p
            margin 0
            alegreya 10
            a:hover
                color #fff
            +mobile()
                span
                    font-size 0
                    display block
