header
    background $cinza
    width 100%
    height 120px
    +mobile()
        height 100px
    .center
        clearfix()
        height 100%
    .logo
        display block
        float left
        width 190px
        height 65px
        background $img('marca-ednaldo.png') no-repeat center
        text-indent -9999px
        margin-top 27px
        +below($tablet)
            margin-top 0
            height 100%
            background-size 100% auto
        +tablet()
            width 165px
        +mobile()
            width 150px
    #nav-desktop
        float left
        margin-left 90px
        height 100%
        padding-top 44px
        +mobile()
            display none
        +tablet()
            margin-left 40px
            padding-top 50px
            float right
            margin-right 40px
        a
            alegreya 24
            color $amarelo
            display inline-block
            margin 0 20px
            &:hover
            &.active
                color #fff
            +tablet()
                alegreya 18
                margin 0 6px
    .facebook
        float left
        display block
        width 20px
        height 20px
        text-indent -9999px
        background $img('facebook.png') no-repeat center
        margin-top 50px
        margin-left 20px
        +mobile()
            float right
            margin-top 40px
        +tablet()
            margin-left 15px
            margin-top 52px
            position absolute
            right 0
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 30px
        +mobile()
            margin-left 25px
        .lines
            display block
            width 100%
            height 4px
            background $amarelo
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $amarelo
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($mobile)
            display none !important
        display none
        position absolute
        width 100%
        background $amareloEscuro
        border-bottom 4px solid darken($amareloEscuro, 10)
        padding 20px 0
        text-align center
        z-index 106
        a
            display block
            color #fff
            arvo 16 bold
            text-decoration none
            padding 5px 0
            &.active
                color #000
